<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>

<div th:replace="fragments :: header"></div>
<nav th:replace="fragments :: navigation"></nav>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-4">
            <form method="post">
                <div class="form-check" th:each="post : ${posts}">
                    <input class="form-check-input"
                           type="checkbox"
                           th:value="${post.id}"
                           th:id="'post' + ${post.id}"
                           name="postIds"
                    />
                    <label class="form-check-label" th:text="${post.title}" th:for="'post' + ${post.id}">
                    </label>
                </div>
                <input type="submit" value="Delete" class="btn btn-danger"/>
            </form>
        </div>
    </div>
</div>

</body>
</html>