body {
    background-color: Black;
    color: Silver;
    font-family: Arial, sans-serif;
}

.header {
  font-size: 40px;
  text-align: center;
  font-weight: bold;
}

.posts {
  text-align: center;
}

.post-title {
  color: LightBlue;
  font-weight: bold;
  font-size: 20px;
}

.post-timestamp {
  font-style: italic;
}

.nav-link {
  font-weight: bold;
  color: LightBlue;
  font-size: 30px;
}

.nav-link:hover {
  background-color: white;
}

a:link { text-decoration: none; }

a:visited { text-decoration: none; }

a:hover {
  text-decoration: none;
  background-color: white;
}

a:active { text-decoration: none; }