<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<div th:replace="fragments :: header"></div>
<div th:replace="fragments :: navigation"></div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-8">
            <p>Hi there! I'm a software developer based in the Saint Louis metro area with a passion for coding, cats, and dogs! My wife and I moved here in 2019 so she could start her job at SIUE. After the pandemic hit in 2020, I realized I didn't want to stick it out with dead-end service jobs anymore. My dad, who started programming in the 60's, taught me a little BASIC when I was a kid, and I experimented with C a bit in college. After getting accepted into LaunchCode in January 2021, I've been hard at work learning JavaScript, Java, Angular, and Spring Boot. Take a look around the site to learn more. Enjoy your stay!</p>
        </div>
    </div>
</div>
</body>
</html>