<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title>Ryan Finken :: software engineer</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/styles.css}">

</head>
<body>
<div th:fragment="header" class="header">
    <p>Ryan Finken</p>
    <p>software engineer</p>
</div>
<div th:fragment="nav" class="nav">
    <a>home</a>
    <a>about me</a>
    <a>resume</a>
    <a>projects</a>
    <a>administrative portal</a>
</div>
</body>
</html>