<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title>Ryan Finken :: software engineer</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/styles.css}">

</head>
<body>
<div th:fragment="header" class="header">
    <p>Ryan Finken</p>
    <p>software engineer</p>
</div>
<ul th:fragment="navigation" class="nav justify-content-center">
    <li class="nav-item"><a href="/" class="nav-link">home</a></li>
    <li class="nav-item"><a href="/about" class="nav-link">about me</a></li>
    <li class="nav-item"><a href="https://docs.google.com/document/d/1trlsx6rTTiS5QngBYOSQzsLS4zHKQvZ07zqIgnL_RxA/edit?usp=sharing" class="nav-link">resume</a></li>
    <li class="nav-item"><a href="https://github.com/ryan-finken" class="nav-link">github</a></li>
    <li class="nav-item"><a href="/projects" class="nav-link">projects</a></li>
    <li class="nav-item"><a th:if="${session.user == null}" href="/login" class="nav-link">login</a></li>
    <li class="nav-item"><a th:if="${session.user != null}" href="/admin" class="nav-link">administrative portal</a></li>
</ul>
</body>
</html>