<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<div th:replace="fragments :: header"></div>
<div th:replace="fragments :: navigation"></div>
<div class="container">
  <div class="row justify-content-center">
    <h1 th:text="${post.title}" class="display-4"></h1>
  </div>
  <div class="row justify-content-center">
    <span class="post-timestamp" th:text="'posted at ' + ${#dates.format(post.timestamp, 'MMM dd yyyy h:mm a')}"></span>
  </div>
  <br>
  <div class="row justify-content-center">
    <div class="col-8">
      <div class="post-body">
        <p th:text="${post.body}"></p>
      </div>
    </div>
  </div>
</div>
</body>
</html>